*{
    margin: 0;
    padding: 0;
}
header{
    align-items: center;
    background: transparent;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#ncategory{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 80%;
    margin: auto;
}